body{
    margin:0;
    padding:0;
    background: url();
    background-color: ;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}


.b{
    width:320px;
    height: 420px;
    background:blueviolet;
    color:blue;
    top:50%;
    left:50%;
    position:absolute;
    transform:translate(-50%,-50%);
    box-sizing:border-box;
}

.a{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    top:-50px;
    
}
